{% extends 'base.html.twig' %}

{% block title %}Hello MyAnnounceController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="card signup_v4 mb-30 bg-light">
        <div class="card-body">
            <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase;">Mes annonces</h4>
            {{ announcements }}


        </div>
    </div>
</div>

{% endblock %}
