{% extends 'base.html.twig' %}

{% block title %}Hello BreederController!
{% endblock %}

{% block body %}
	<div class="container col-6 mt-5 bg-light">
		{{  form_start(form)  }}

		{{  form_end(form)  }}
	</div>

{% endblock %}
