{% extends 'base.html.twig' %}

{% block title %}Hello AnnouncerController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
    <div class="card signup_v4 mb-30 bg-light">
        <div class="card-body">
            <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase;">Créer mon annonce</h4>
                {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}
