{% extends 'base.html.twig' %}

{% block title %}Hello SignupController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/signup.css') }}">
{% endblock stylesheets %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

</style>

<div class="example-wrapper">
    <div class="card signup_v4 mb-30 bg-light">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation"> <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a> </li>
                <li class="nav-item" role="presentation"> <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Inscription</a> </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                    <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase;">Login</h4>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputEmail">Email Adress</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email address" required="">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputPassword">Mot de passe</label>
                                <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password" required="">
                            </div>
                        </div>
                        <div class="mt-2 mb-3">
                            <button class="btn btn-danger full-width" type="submit">Login</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                    <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase;">Inscription</h4>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputName">Nom</label>
                                <input type="text" class="form-control" id="inputName" placeholder="Enter your name" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputEmail2">Email Adress</label>
                                <input type="email" class="form-control" id="inputEmail2" placeholder="Enter your email address" required="">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputPassword2">Mot de passe</label>
                                <input type="password" class="form-control" id="inputPassword2" placeholder="Enter your password" required="">
                            </div>
                        </div>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-2 pt-0">Role</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                        <label class="form-check-label" for="gridRadios1">
                                            Adoptant
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                        <label class="form-check-label" for="gridRadios2">
                                            Annonceur
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <button class="btn btn-danger mt-3 mt-sm-0" type="submit">Inscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
